QUARKUS_APPLICATION_NAME={QUARKUS_APPLICATION_NAME}
QUARKUS_CONTAINER_IMAGE_BUILD={QUARKUS_CONTAINER_IMAGE_BUILD}
QUARKUS_MANAGEMENT_ENABLED={QUARKUS_MANAGEMENT_ENABLED}
QUARKUS_DATASOURCE_DB_KIND={QUARKUS_DATASOURCE_DB_KIND}
QUARKUS_DATASOURCE_DB={QUARKUS_DATASOURCE_DB}
QUARKUS_DATASOURCE_HOST={QUARKUS_DATASOURCE_HOST}
QUARKUS_DATASOURCE_PORT={QUARKUS_DATASOURCE_PORT}
QUARKUS_DATASOURCE_USERNAME={QUARKUS_DATASOURCE_USERNAME}
QUARKUS_DATASOURCE_PASSWORD={QUARKUS_DATASOURCE_PASSWORD}
QUARKUS_DATASOURCE_SCHEMA={QUARKUS_DATASOURCE_SCHEMA}
QUARKUS_HIBERNATE_ORM_DATABASE_DEFAULT_SCHEMA={QUARKUS_HIBERNATE_ORM_DATABASE_DEFAULT_SCHEMA}
QUARKUS_HTTP_ENABLE_COMPRESSION={QUARKUS_HTTP_ENABLE_COMPRESSION}
QUARKUS_REDIS_HOSTS={QUARKUS_REDIS_HOSTS}
QUARKUS_REDIS_TIMEOUT={QUARKUS_REDIS_TIMEOUT}
QUARKUS_REST_CLIENT_DEMO_CLIENT_URL={QUARKUS_REST_CLIENT_DEMO_CLIENT_URL}
QUARKUS_REST_CLIENT_DEMO_CLIENT_SCOPE={QUARKUS_REST_CLIENT_DEMO_CLIENT_SCOPE}
QUARKUS_NATIVE_ADDITIONAL_BUILD_ARGS={QUARKUS_NATIVE_ADDITIONAL_BUILD_ARGS}
QUARKUS_NATIVE_CONTAINER_BUILD={QUARKUS_NATIVE_CONTAINER_BUILD}
MINIO_URL={MINIO_URL}
MINIO_ACCESS_KEY={MINIO_ACCESS_KEY}
MINIO_SECRET_KEY={MINIO_SECRET_KEY}

# Application-specific configuration (app.* in application.yml, bound via AppConfiguration)
APP_CACHE_DEFAULT_TTL_MS={APP_CACHE_DEFAULT_TTL_MS}
APP_CACHE_DEFAULT_EXPIRE_DURATION_MS={APP_CACHE_DEFAULT_EXPIRE_DURATION_MS}
APP_CACHE_ENTITY_DEVICE_TTL_MS={APP_CACHE_ENTITY_DEVICE_TTL_MS}
APP_CACHE_ENTITY_DEVICE_DETAILS_TTL_MS={APP_CACHE_ENTITY_DEVICE_DETAILS_TTL_MS}
APP_CACHE_ENTITY_DEVICE_PAGE_TTL_MS={APP_CACHE_ENTITY_DEVICE_PAGE_TTL_MS}
APP_CACHE_MEDIA_FILE_TTL_MS={APP_CACHE_MEDIA_FILE_TTL_MS}
APP_CACHE_MESSAGE_INTERPOLATOR_TTL_MS={APP_CACHE_MESSAGE_INTERPOLATOR_TTL_MS}
APP_CACHE_MESSAGE_INTERPOLATOR_EXPIRE_HOURS={APP_CACHE_MESSAGE_INTERPOLATOR_EXPIRE_HOURS}
APP_CACHE_MESSAGE_INTERPOLATOR_MAX_SIZE={APP_CACHE_MESSAGE_INTERPOLATOR_MAX_SIZE}
APP_CACHE_PREFIX_ENTITY_DEVICE={APP_CACHE_PREFIX_ENTITY_DEVICE}
APP_CACHE_PREFIX_ENTITY_DEVICE_DETAILS={APP_CACHE_PREFIX_ENTITY_DEVICE_DETAILS}
APP_CACHE_PREFIX_ENTITY_DEVICE_PAGE={APP_CACHE_PREFIX_ENTITY_DEVICE_PAGE}
APP_CACHE_PREFIX_MEDIA_FILE={APP_CACHE_PREFIX_MEDIA_FILE}

APP_RETRY_MAX_ATTEMPTS={APP_RETRY_MAX_ATTEMPTS}
APP_RETRY_INITIAL_BACKOFF_MS={APP_RETRY_INITIAL_BACKOFF_MS}
APP_RETRY_MAX_BACKOFF_MS={APP_RETRY_MAX_BACKOFF_MS}
APP_RETRY_CACHE_MAX_ATTEMPTS={APP_RETRY_CACHE_MAX_ATTEMPTS}
APP_RETRY_CACHE_BACKOFF_MS={APP_RETRY_CACHE_BACKOFF_MS}
APP_RETRY_DEFAULT_MAX_ATTEMPTS={APP_RETRY_DEFAULT_MAX_ATTEMPTS}
APP_RETRY_DEFAULT_BACKOFF_MIN_MS={APP_RETRY_DEFAULT_BACKOFF_MIN_MS}
APP_RETRY_DEFAULT_BACKOFF_MAX_MS={APP_RETRY_DEFAULT_BACKOFF_MAX_MS}

APP_TIMEOUT_HEALTH_CHECK_MS={APP_TIMEOUT_HEALTH_CHECK_MS}
APP_TIMEOUT_CACHE_OPERATION_MS={APP_TIMEOUT_CACHE_OPERATION_MS}

APP_HEALTH_ERROR_RATE_THRESHOLD={APP_HEALTH_ERROR_RATE_THRESHOLD}
APP_HEALTH_RESPONSE_TIME_THRESHOLD={APP_HEALTH_RESPONSE_TIME_THRESHOLD}
APP_HEALTH_CACHE_TEST_TIMEOUT_MS={APP_HEALTH_CACHE_TEST_TIMEOUT_MS}
APP_HEALTH_CACHE_TEST_TTL_MS={APP_HEALTH_CACHE_TEST_TTL_MS}

APP_DATABASE_ENTITY_NAME_MAX_LENGTH={APP_DATABASE_ENTITY_NAME_MAX_LENGTH}
APP_DATABASE_ENTITY_DESCRIPTION_MAX_LENGTH={APP_DATABASE_ENTITY_DESCRIPTION_MAX_LENGTH}
APP_DATABASE_AUDIT_USER_FIELD_LENGTH={APP_DATABASE_AUDIT_USER_FIELD_LENGTH}
APP_DATABASE_AUDIT_DEFAULT_USER={APP_DATABASE_AUDIT_DEFAULT_USER}

APP_OBSERVABILITY_METRICS_HISTOGRAM_PERCENTILES={APP_OBSERVABILITY_METRICS_HISTOGRAM_PERCENTILES}
APP_OBSERVABILITY_HEALTH_CHECK_ID_TIMESTAMP_MOD={APP_OBSERVABILITY_HEALTH_CHECK_ID_TIMESTAMP_MOD}

APP_PAGINATION_HEADER_TOTAL_COUNT={APP_PAGINATION_HEADER_TOTAL_COUNT}
APP_PAGINATION_HEADER_LINK_FORMAT={APP_PAGINATION_HEADER_LINK_FORMAT}

APP_I18N_PATH={APP_I18N_PATH}
APP_I18N_ERROR_MESSAGES={APP_I18N_ERROR_MESSAGES}
APP_I18N_VALIDATION_MESSAGES={APP_I18N_VALIDATION_MESSAGES}

APP_HTTP_ENABLE_COMPRESSION={APP_HTTP_ENABLE_COMPRESSION}
APP_HTTP_AUTH_LOGGING={APP_HTTP_AUTH_LOGGING}
